<% include blocks/header.ejs %>
		
		<!-- About Section -->
		<section id="about" class="site-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="about-image wow fadeInLeft">
							<img src="/img/about-image.jpg" alt="About Image" />
						</div>
						<div class="about-image wow fadeInLeft">
								<img src="/img/about-imagenew.jpg" alt="About Image" />
							</div>
					</div>
					<div class="col-sm-6">
						<div class="about-text wow fadeInRight">
							<h3>About Our Website</h3>
							<p>Our project “Student-faculty communication portal” is going to help students to communicate directly with the faculties and vice-versa. In this digital world, we still don't have any convenient medium for communication of all faculties with all the students. So, this portal will help students ask doubts related to subjects to their respective faculties. Moreover, if teachers want to communicate any notice to all the students commonly, there will be a notice section for this purpose. They can also add study material for the students in reference to their subjects.
									In present time, important details regarding classes, tests, reference material, assignments or other activities may get missed out by some students. Also students have to go to teachers individually, to ask doubts and faculties have to answer similar questions repeatedly. Introvert students may feel it uncomfortable talking to their faculties. <br>
									To overcome this problem, we have come up with the solution for an easy contact between students and teachers. They can post information regarding classes, assignments, tests and other activities through notice section, upload study material and can answer the questions asked by students. These answers will be visible to all the students, hence making the work of faculties easier. The only condition to be able to use this portal will be that student and faculty should be registered which will be verified by the admin.
								</p>
							<a href="#" class="btn btn-read-more">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- About Section -->
		
		
		
<% include blocks/footer.ejs %>